.small-charts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .world-map, .bar-chart {
    width: 100%;
    height: 100%;
    background-color:rgba(175, 175, 175, 0.1);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  