/* App.css */
.app-container {
  display: flex; /* Makes the admin panel and dashboard sit side by side */
  height: 100vh; /* Full viewport height */
}

.dashboard {
  height: 100%;
  width: 80%; /* 4/5th of the screen for the dashboard */
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #2b2b2b;
}

