body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark theme background */
  color: #E0E0E0; /* Light grey text */
}

h2, h3 {
  color: #66BBFF; /* Light Blue */
  font-family: 'Arial', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  color: #E0E0E0;
}

a {
  text-decoration: none;
  color: #66BBFF;
}

p{
  font-family: 'Plus Jakarta Sans', sans-serif;
}